body {
    background-color: #f0f4f8; 
    color: #333;
    font-family: Arial;
    margin: 20px;
    
}
h1, h2 {
    color: #2c3e50;
}

section {
    margin-bottom: 40px;
    padding: 15px;
    background: white;
    border-radius: 8px;
}
